[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=videoBookmark
Exec=/opt/videoBookmark/bin/videoBookmark
Icon=videoBookmark
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
